<h1>Mes topics</h1>
<div class="container-topics">

  <button class="btn-new-topic btn btn-danger modal-btn">Créer un topic</button>

  <div class="modal-bg">
    <div class="modal">
        <%= render 'form_topic', topic: @topic %>
    </div>
  </div>

  <div class="cards">
    <% @topics.each do |topic| %>
      <%= button_to(
        topic_path(topic),
        method: :get,
        class: "btn-stripped"
      )do %>
        <div class="card-topic">
          <div class="card-photo-part">
            <img class="card-photo"src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/skateboard.jpg">
            <%= link_to(
              topic_path(topic),
              method: :delete, remote: true,
              data: { confirm: "Souhaitez-vous supprimer cette interaction ?" }
            ) do %>
              <i class="fas fa-trash card-trash"></i>
            <% end %>
          </div>
          <div class="card-body-part">
            <div class="card-body">
            <% if topic.title.length > 20 %>
              <h3 class="card-title m-0"><%= topic.title[0..15] + "..." %></h5>
            <% else %>
              <h3 class="card-title m-0"><%= topic.title %></h5>
            <% end %>
            </div>
            <% if topic.description.length > 70 %>
              <p class="card-text"><%= topic.description[0..60] + "..." %></p>
            <% else %>
              <p class="card-text"><%= topic.description %></p>
            <% end %>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
</div>
