<div class="container">
    <div>
         <% if @topic.photo.attached? %>
              <%= cl_image_tag(@topic.photo.key, crop: :fill, class: "banner") %>
            <% else %>
              <%= image_tag 'https://images.unsplash.com/photo-1495055154266-57bbdeada43e?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1470&q=80', crop: :fill, class: "banner" %>
            <% end %>
        <div>
          <h1><%=@topic.title  %></h1>
          <h3><%=@topic.first_accroche  %></h3>
          <h6><%=@topic.description  %></h6>
        </div>
      <div class="topics-components">
        <div class="interactions-form">

            <%#= render 'interactions/new', interaction: [ @topic, @interaction ] %>

            <%= simple_form_for([@topic, @interaction]) do |f| %>

              <div class="">
                <%= f.input :content, label: 'Contenu à caratère informatif', placeholder: 'Lorem ipsum dolor sit amet' %>
              </div>
              <div class="">
                <%= f.input :html_content, label: "Gif", placeholder: 'Ci-gît un gif' %>
              </div>
              <div class="">
                <%# if @interaction.photo.attached? %>
                  <%#= cl_image_tag @interaction.photo.key, class: "", height: 100, width: 100, crop: :fill %>
                <% #else %>
                  <%#= image_tag("https://images.unsplash.com/photo-1537498425277-c283d32ef9db?crop=entropy&cs=tinysrgb&fit=max&fm=jpg&ixid=MnwxfDB8MXxyYW5kb218MHx8ZGF0YXx8fHx8fDE2Mzc2Njc0NDU&ixlib=rb-1.2.1&q=80&utm_campaign=api-credit&utm_medium=referral&utm_source=unsplash_source&w=1080", class: "") %>
                <% #end %>
                <%= f.input :photo, as: :file, class:"btn btn-light" %>
              </div>
              <div class="">
                <%= f.input :question, label: "Question", placeholder: 'Posez une question' %>
              </div>
              <div class="">
                <%= f.input :position, label: "Position de l'intéraction" %>
              </div>
              <div class="">
              <%= f.button :submit, 'Créer votre topic', class: 'btn btn-danger' %>
              </div>
            <% end %>

        </div>

        <div class="interactions-preview">
          <div class="cards-interaction">
            <% if @topic.interactions.present? %>
              <% @topic.interactions.sort_by(&:position).each do |interaction| %>
              <div>
                <div class="card-interaction">
                  <img src="https://images.unsplash.com/photo-1554774853-b3d587d95440?crop=entropy&cs=tinysrgb&fit=max&fm=jpg&ixid=MnwxfDB8MXxyYW5kb218MHx8aGFja2luZ3x8fHx8fDE2Mzc2ODE5NDI&ixlib=rb-1.2.1&q=80&utm_campaign=api-credit&utm_medium=referral&utm_source=unsplash_source&w=1080" />
                  <div class="card-interaction-contents">
                    <div class="card-interaction-position">
                      <h2>Interaction n°<%= interaction.position %></h2>
                    </div>
                  </div>
                  <div class="card-interaction-notifications">
                    <p><%= interaction.options.count%> <%="options".pluralize %> </p>
                    <p class="modal-btn-options">
                      <i class="fas fa-plus"></i><br>Ajouter une réponse
                    </p>
  <%# ---------------------------- Modal beginning ----------------------------  %>
                    <div class="modal-bg">
                      <div class="modal">
                        <%= render 'form-option', option: Option.new, interaction: interaction %>
                      </div>
                    </div>
  <%# ---------------------------- Modal end ----------------------------  %>
                    <p>
                      <%= link_to interaction_path(interaction),
                        method: :delete, remote: true,
                        data: { confirm: "Souhaitez-vous supprimer cette interaction ?" } do %>
                        <i class="fas fa-trash"></i><br>Supprimer
                      <% end %>
                    </p>
                  </div>
                </div>
                <div class="card-interaction-infos hidden">
                  <div class="infos-border">
                    <h5>Contenus enregistrés:</h5>
                    <p>Contenu: </p>
                    <span><%= interaction.content %></span>
                  </div>
                  <div class="infos-border">
                    <p>Question: </p>
                    <span><%= interaction.question %></span>
                  </div>
                  <div class="infos-border">
                    <p>HTML content: </p>
                    <span><%= interaction.html_content %></span>
                  </div>
                  <br>
                  <div>
                    <h5>Réponses enregistrées:</h5>
                    <% if interaction.options.present? %>
                      <% interaction.options.sort_by(&:position).each do |option| %>
                      <p>
                        <%= option.position %> - <%= option.title %>
                        <%= link_to option_path(option),
                          method: :delete, remote: true do %>
                          <i class="fas fa-trash"></i>
                        <% end %>
                      </p>
                      <% end %>
                    <% end %>
                  </div>
                </div>
                <div class="card-toggle"><h2><i class="fas fa-sort-down"></i></h2></div>
              </div>
              <% end %>
            <% end %>
          </div>
        </div>

      </div>
      <div>
        <%= link_to "Retour vers mes topics", topics_path, :class => "link-to" %>
      </div>
    </div>
</div>
