<div class="container">
    <div>
         <% if @topic.photo.attached? %>
          <div class="container-banner">
            <%= cl_image_tag(@topic.photo.key, crop: :fill, class: "banner") %>
            <h1><%=@topic.title  %></h1>
          </div>
        <% else %>
          <div class="container-banner">
            <%= image_tag 'https://images.unsplash.com/photo-1495055154266-57bbdeada43e?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1470&q=80', crop: :fill, class: "banner" %>
            <h1><%=@topic.title%></h1>
          </div>
        <% end %>
      <div class="topics-components">
        <div class="interactions-form">
        <div>
          <h3><%=@topic.first_accroche  %></h3>
          <h6><%=@topic.description  %></h6>
        </div>

        <%# ---------------------------- form accordion beginning ---------------------------- %>
          <%= render 'form_accordion', topic:@topic, interaction:@interaction %>
        <%# ---------------------------- form accordion end ---------------------------- %>

        </div>

        <div class="interactions-preview">
          <div class="cards-interaction">
            <% if @topic.interactions.present? %>
              <% @topic.interactions.sort_by(&:position).each do |interaction| %>
              <div>
                <div class="card-interaction">
                  <div class="card-interaction-img">
                    <% if interaction.photo.attached? %>
                      <%= cl_image_tag(interaction.photo.key, height: 120, width: 120, crop: :fill) %>
                    <% end %>
                  </div>
                  <div class="card-interaction-contents">
                    <div class="card-interaction-position">
                      <h2>Contenu n°<%= interaction.position %></h2>
                    </div>
                  </div>
                  <div class="card-interaction-notifications">
                    <div>
                      <button class="btn-notification" id="option-target-<%=interaction.id%>">
                        <p class="modal-btn-options">
                          <i class="fas fa-plus"></i><br>Ajouter une réponse
                        </p>
                      </button>
                    </div>
                    <%# ---------------------------- Modal beginning ----------------------------  %>
                    <div class="modal-bg option-target-<%=interaction.id%>">
                      <div class="modal-small">
                        <%= render 'form_option', option: Option.new, interaction: interaction %>
                      </div>
                    </div>
                    <%# ---------------------------- Modal end ----------------------------  %>
                    <div>
                      <p class="delete-content-btn">
                        <%= link_to interaction_path(interaction),
                          method: :delete, remote: true,
                          data: { confirm: "Souhaitez-vous supprimer cette interaction ?" } do %>
                          <i class="fas fa-trash"></i><br>Supprimer le contenu
                        <% end %>
                      </p>
                    </div>
                  </div>
                </div>
                <div class="card-interaction-infos hidden card-target-<%=interaction.id%>">
                  <div class="content-theme-card">
                    <div class="infos-border">
                      <h5>Contenus enregistrés:</h5>
                      <p>Contenu: </p>
                      <span><%= interaction.content %></span>
                    </div>
                    <div class="infos-border">
                      <p>Question: </p>
                      <span><%= interaction.question %></span>
                    </div>
                    <div class="infos-border">
                      <p>HTML content: </p>
                      <span><%= interaction.html_content %></span>
                    </div>
                  </div>
                  <br>
                  <div>
                    <div class="options-theme-card">
                      <h5>Réponses enregistrées:</h5>
                      <% if interaction.options.present? %>
                        <% interaction.options.sort_by(&:position).each do |option| %>
                        <div class="options-display">
                          <div>
                            <p><%= option.position %> - <%= option.title %></p>
                          </div>
                          <div>
                            <%= link_to option_path(option),
                              method: :delete, remote: true do %>
                              <i class="fas fa-trash"></i>
                            <% end %>
                          </div>
                        </div>
                        <% end %>
                      <% end %>
                    </div>
                  </div>
                </div>
                <div class="card-toggle" id="card-target-<%=interaction.id%>"><i class="fas fa-chevron-down"></i></i></div>
              </div>
              <% end %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
</div>
