<H1>Utilisateurs</H1>
<div class="container-user">
  <div class="users-row">
      <% @users.each do |user| %>
        <div class="users-card">
          <div class="user-info">
            <p>Prénom</p>
            <p><%= user.first_name %></p>
          </div>
          <div class="user-info">
            <p>Nom</p>
            <p><%= user.last_name %></p>
          </div>
          <div class="user-info">
            <p>Admin</p>
            <p><%= user.admin %></p>
          </div>
          <div class="user-info">
            <p>Mail</p>
            <p><%= user.email %></p>
          </div>
          <div>
            <%= simple_form_for(user) do |f| %>
            <div class="">
              <%= f.input :slack_token, label: 'Slack token' %>
            </div>
            <div class="">
              <%= f.button :submit, 'Mettre à jour', class: 'btn btn-danger' %>
            </div>
            <div>
              <p class="delete-content-btn">
                <%= link_to user_path(user),
                  method: :delete, remote: true,
                  data: { confirm: "Souhaitez-vous supprimer ce compte ?" } do %>
                  <i class="fas fa-trash"></i>
                <% end %>
              </p>
            </div>
            <% end %>
          </div>
        </div>
      <% end %>
  </div>
</div>
