  <h1>Mon profil</h1>
  <div class="container-profile">
    <%= simple_form_for @user, url: user_registration_path do |f| %>
      <div class="row-2" id="ploplo">
        <div class="col-md-3 border-right">
          <div class="d-flex flex-column align-items-center text-center">
              <% if current_user.photo.attached? %>
                <%= cl_image_tag current_user.photo.key, class: "avatar-big" %>
              <% else %>
                <%= image_tag 'logo-Jam-bot-01.png', class: "avatar-big" %>
              <% end %>
            <%= f.input :photo, as: :file, class:"btn btn-danger" %>
            <span class="font-weight-bold"id='name-user'></span>
            <span class="text-black-50" id='email-user'></span>
            <span></span>
          </div>
        </div>
          <div class="col-md-5 border-right">
            <div class=>
              <div class="d-flex justify-content-between align-items-center">
                <h4 class="text-right">Profile Settings</h4>
              </div>
              <div class="row-2">
                <div class="col-md-6">
                  <%= f.input :first_name, label: "Prénom", placeholder: 'Mon prénom', value: @user.first_name %>
                </div>
                <div class="col-md-6">
                  <%= f.input :last_name, label: "Nom", placeholder: 'Mon nom', value: @user.last_name %>
                </div>
              </div>
              <div class="row-2">
                <div class="col-md-12">
                  <%= f.input :email, label: "Email", placeholder: 'Mon email', value: @user.email %>
                </div>
              </div>


            </div>
          </div>
          <div class="col-md-4">
              <h4 class="text-left">Changer mon mot de passe</h4>

              <div class="row-2">
                <div class="col">
                  <div class="form-group">
                      <%= f.input :current_password, label: "Actuel", placeholder: '••••••', value: @user.password %>
                  </div>
                </div>
              </div>
              <div class="row-2">
                <div class="col">
                  <div class="form-group">
                      <%= f.input :password, label: "Nouveau", placeholder: '••••••', value: @user.password %>
                  </div>
                </div>
              </div>
              <div class="row-2">
                <div class="col">
                  <div class="form-group">
                      <%= f.input :password_confirmation, label: "Confirmation", placeholder: '••••••', value: @user.password %>
                  </div>
                </div>
              </div>
        <%= f.button :submit, 'Confirmer',class: "btn btn-danger", id: "btn-profile" %>
          </div>
      </div>
    <% end %>
  </div>
