<H1>Programmation</H1>

<div class="container-schedule">
  <button class="btn btn-danger modal-btn">Programmer une conversation</button>
  <div class="modal-bg">
    <div class="modal">
        <%= render 'form_prog', topic: @topic, batch: @batch, schedule: @schedule %>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-12">
      <ul class="nav custom-tab", id="tab-month", role="tablist">
        <li class="nav-item mr-0 d-none d-lg-block">
          <%= link_to 'Janvier', schedules_path(month: "1") %>
        </li>
        <li class="nav-item mr-0 d-none d-lg-block">
          <%= link_to 'Fevrier', schedules_path(month: "2") %>
        </li>
        <li class="nav-item mr-0 d-none d-lg-block">
          <%= link_to 'Mars', schedules_path(month: "3") %>
        </li>
        <li class="nav-item mr-0 d-none d-lg-block">
          <%= link_to 'Avril', schedules_path(month: "4") %>
        </li>
        <li class="nav-item mr-0 d-none d-lg-block">
          <%= link_to 'Mai', schedules_path(month: "5") %>
        </li>
        <li class="nav-item mr-0 d-none d-lg-block">
          <%= link_to 'Juin', schedules_path(month: "6") %>
        </li>
        <li class="nav-item mr-0 d-none d-lg-block">
          <%= link_to 'Juillet', schedules_path(month: "7") %>
        </li>
        <li class="nav-item mr-0 d-none d-lg-block">
          <%= link_to 'Aout', schedules_path(month: "8") %>
        </li>
        <li class="nav-item mr-0 d-none d-lg-block">
          <%= link_to 'Septembre', schedules_path(month: "9") %>
        </li>
        <li class="nav-item mr-0 d-none d-lg-block">
          <%= link_to 'Octobre', schedules_path(month: "10") %>
        </li>
        <li class="nav-item mr-0 d-none d-lg-block">
          <%= link_to 'Novembre', schedules_path(month: "11") %>
        </li>
        <li class="nav-item mr-0 d-none d-lg-block">
          <%= link_to 'Decembre', schedules_path(month: "12") %>
        </li>
      </ul>
      <div class="table-responsive">
        <table class="table">
          <thead>
            <tr>
              <th scope="col">Date</th>
              <th scope="col">Photo</th>
              <th scope="col">Conversation</th>
              <th scope="col">Batch</th>
              <th class="text-center" scope="col"></th>
            </tr>
          </thead>
          <tbody>
            <table class="table">
              <tbody>
                <% @schedules.each do |schedule| %>
                  <tr class="inner-box">
                    <th scope="row">
                      <div class="bloc-date">
                        <span><%= schedule.post_at.day %></span>
                        <p><%= schedule.post_at.strftime("%b") %></p>
                      </div>
                    </th>
                    <td class="bloc-photo">
                        <% if schedule.topic.photo.attached? %>
                          <%= cl_image_tag("#{schedule.topic.photo.key}", crop: :fill, class: "photo") %>
                        <% else %>
                          <%= image_tag 'https://images.unsplash.com/photo-1495055154266-57bbdeada43e?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1470&q=80', crop: :fill, class: "photo" %>
                        <% end %>
                    </td>
                    <td class="bloc-title">
                        <span><%= schedule.topic.title %></span>
                    </td>
                    <td>
                      <div class="bloc-batch">
                        <span><%=schedule.batch.camp%></span>
                      </div>
                    </td>
                    <td>
                      <div class="primary-btn" id="bloc-btn">
                        <%= link_to topic_path(schedule.topic) do %>
                          <button class=btn-danger>Voir conversation</button>
                        <% end %>
                      </div>
                    </td>
                  </tr>
                <% end %>
              </tbody>
            </table>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
