<div class="container-schedule">
    <div class="col-lg-12">
      <ul class="nav custom-tab", id="tab-month", role="tablist">
      <H1>Programmation</H1>
        <li class="nav-item mr-0 d-none d-lg-block month-toggle <%= 'active' if @month == 1 %>">
          <%= link_to 'Jan.', schedules_path(month: "1") %>
        </li>
        <li class="nav-item mr-0 d-none d-lg-block month-toggle <%= 'active' if @month == 2 %>">
          <%= link_to 'Fév.', schedules_path(month: "2") %>
        </li>
        <li class="nav-item mr-0 d-none d-lg-block month-toggle <%= 'active' if @month == 3 %>">
          <%= link_to 'Mars', schedules_path(month: "3") %>
        </li>
        <li class="nav-item mr-0 d-none d-lg-block month-toggle <%= 'active' if @month == 4 %>">
          <%= link_to 'Avr.', schedules_path(month: "4") %>
        </li>
        <li class="nav-item mr-0 d-none d-lg-block month-toggle <%= 'active' if @month == 5 %>">
          <%= link_to 'Mai', schedules_path(month: "5") %>
        </li>
        <li class="nav-item mr-0 d-none d-lg-block month-toggle <%= 'active' if @month == 6 %>">
          <%= link_to 'Juin', schedules_path(month: "6") %>
        </li>
        <li class="nav-item mr-0 d-none d-lg-block month-toggle <%= 'active' if @month == 7 %>">
          <%= link_to 'Juil', schedules_path(month: "7") %>
        </li>
        <li class="nav-item mr-0 d-none d-lg-block month-toggle <%= 'active' if @month == 8 %>">
          <%= link_to 'Août', schedules_path(month: "8") %>
        </li>
        <li class="nav-item mr-0 d-none d-lg-block month-toggle <%= 'active' if @month == 9 %>">
          <%= link_to 'Sep.', schedules_path(month: "9") %>
        </li>
        <li class="nav-item mr-0 d-none d-lg-block month-toggle <%= 'active' if @month == 10 %>">
          <%= link_to 'Oct.', schedules_path(month: "10") %>
        </li>
        <li class="nav-item mr-0 d-none d-lg-block month-toggle <%= 'active' if @month == 11 %>">
          <%= link_to 'Nov.', schedules_path(month: "11") %>
        </li>
        <li class="nav-item mr-0 d-none d-lg-block month-toggle <%= 'active' if @month == 12 %>">
          <%= link_to 'Déc.', schedules_path(month: "12") %>
        </li>
      </ul>
      <div class="table-responsive">
        <table class="table">
          <thead>
            <tr>
              <th scope="col">Date</th>
              <th scope="col">Photo</th>
              <th scope="col">Conversation</th>
              <th scope="col">Batch</th>
              <th class="text-center" scope="col">
                <button class="btn btn-danger modal-btn">Nouvelle programmation</button>
                  <div class="modal-bg">
                  <div class="modal-schedule">
                  <%= render 'form_prog', topic: @topic, batch: @batch, schedule: @schedule %>
                  </div>
                </div>
              </th>
            </tr>
          </thead>
          <tbody>
            <table class="table">
              <tbody>
                <% @schedules.each do |schedule| %>
                  <%= link_to(
                  topic_path(schedule.topic),
                  method: :get,
                  class: "btn-stripped"
                  )do %>
                    <tr class="inner-box">
                      <th scope="row">
                        <div class="bloc-date">
                          <span><%= schedule.post_at.day %></span>
                          <p><%= schedule.post_at.strftime("%b") %></p>
                        </div>
                      </th>
                      <td class="bloc-photo">
                          <% if schedule.topic.photo.attached? %>
                            <%= cl_image_tag("#{schedule.topic.photo.key}", crop: :fill, class: "photo") %>
                          <% else %>
                            <%= image_tag 'https://images.unsplash.com/photo-1495055154266-57bbdeada43e?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1470&q=80', crop: :fill, class: "photo" %>
                          <% end %>
                      </td>
                      <td class="bloc-title">
                          <span><%= schedule.topic.title %></span>
                      </td>
                      <td class="bloc-batch">
                        <span><%=schedule.batch.camp%></span>
                      </td>
                      <td>
                        <div class="primary-btn" id="bloc-btn">
                          <%= link_to topic_path(schedule.topic) do %>
                          <i class="far fa-eye schedule-eye"></i>
                          <% end %>
                        </div>
                        <div>
                          <%= link_to(
                            schedule_path(schedule),
                            method: :delete, remote: true,
                            data: { confirm: "Souhaitez-vous supprimer cette programmation ?" }
                            ) do %>
                              <i class="fas fa-trash schedule-trash"></i>
                            <% end %>
                        </div>
                      </td>
                    </tr>
                  <% end %>
                <% end %>
              </tbody>
            </table>
          </tbody>
        </table>
      </div>
    </div>
</div>
