<% @posts.each do |post| %>
  <% if post.buddy %>
    <div class="message d-flex justify-content-start text-left ml-2">
      <%= image_tag 'logo-Jam-bot-02.png', width:"50px", height:"45px", class:"rounded img-buddy" %>
      <div class="message-text ml-3 mt-1">
        <h4>Buddy</h4>
        <%#= raise %>
          <% if post.form %>
            <p><%= render 'form_options', post: post %></p>
          <% else %>
            <p><%= post.content %></p>
          <% end %>
      </div>
    </div>
  <% else %>
    <div class="message d-flex justify-content-start text-left ml-2">
      <%= image_tag 'Matthieu.png', width:"50px", height:"45px", class:"rounded" %>
      <div class="message-text ml-3 mt-1">
        <h4>Matthieu</h4>
        <%#= raise %>
       <p id="option-<%= Answer.last.id %>"><%= Answer.last.option.title %></p>
      </div>
    </div>
  <% end %>
<% end %>
